[View in Colaboratory](https://colab.research.google.com/github/anirbanghoshsbi/python-projects/blob/master/Hackerrank_python_code.ipynb)

#Problem :
You have a record of  students. Each record contains the student's name, and their percent marks in Maths, Physics and Chemistry. The marks can be floating values. The user enters some integer  followed by the names and marks for students. You are required to save the record in a dictionary data type. The user then enters a student's name. Output the average percentage marks obtained by that student, correct to two decimal places

In [0]:
n =int(input())

5

In [0]:
student_marks ={}

In [0]:
for _ in range(n):
  line = input().split()
  name , score = line[0],line[1]
  student_marks[name]=score

a 10
b 10
c 15
d 12
r 4

In [0]:
query_name = input()

a

In [0]:
student_marks

{'a': '10', 'b': '10', 'c': '15', 'd': '12', 'name': '15', 'r': '4'}

In [0]:
marks = student_marks[query_name]

In [0]:
print("Marks obtained by student {} is {}: " .format(query_name,marks))

Marks obtained by student a is 10:

In [0]:
# make the prblem a bit more realistic

#let the user enter the number of students
user_input = int(input())

5

In [0]:
students_marks = {}

In [0]:
# now let us take the names and marks of the students separated by space subjects three 
print('Enter the student name and marks in three subjects separated by space')
for _ in range(n):
  name ,*scores = input().split()
  students_marks[name]=scores

Enter the student name and marks in three subjects separated by space
a 10
b 10 15 25
c 14 12 15
d 20 14 15
e 7 15 87

In [0]:
# get the student name which needs to be queried
query_student = input()

e

In [0]:
print('The average scores obtained by the student')
scores = students_marks[query_student] 
scores= map(float , scores)

The average scores obtained by the student

In [0]:
print('The average scores of  {} is {}' .format(query_name , sum(scores)/3))

The average scores of  a is 36.333333333333336

In [0]:
sum(scores)

TypeError: ignored

In [0]:
lst=[1,2,3]

In [0]:
sum(lst)

6

In [0]:
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    score=student_marks[query_name]
    score=sum(score)/3.0
    print(score)

2
a 10
b 25
b
8.333333333333334

#Problem 
You are given a string  and width . 
Your task is to wrap the string into a paragraph of width .

Input Format

The first line contains a string, . 
The second line contains the width, .

Constraints

Output Format

Print the text wrapped paragraph.

In [0]:
x= 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
y = "This is a very long string."

In [0]:
len(y)
y

'This is a very long string.'

In [0]:
print("\n".join([x[i:i+4] for i in range(0, len(x), 4)]))

ABCD
EFGH
IJKL
MNOP
QRST
UVWX
YZ

In [0]:
print("-".join([x[i:i+4]for i in range(0, len(x),4)]))

ABCD-EFGH-IJKL-MNOP-QRST-UVWX-YZ

In [0]:
#print("\n".join([y[i:i+4] for i in range(0, len(y),4)]))
print("-".join([y[i:i+4]for i in range(0, len(y),4)]))
# the code fails for a list

This- is -a ve-ry l-ong -stri-ng.

#Print lists in Python (4 Different Ways)

In [0]:
#using for loops
for i in range(len(y)):
  print(y[i])

T
h
i
s

i
s

a

v
e
r
y

l
o
n
g

s
t
r
i
n
g
.

# Problem 
You are given a string . 
Your task is to verify that  is a floating point number.

In this task, a valid float number must satisfy all of the following requirements:

 Number can start with +, - or . symbol. 
For example: 
✔
+4.50 
✔
-1.0 
✔
.5 
✔
-.7 
✔
+.4 
✖
 -+4.5

 Number must contain at least  decimal value. 
For example: 
✖
 12. 
✔
12.0  

 Number must have exactly one . symbol. 
 Number must not give any exceptions when converted using float(N)

In [0]:
import re
for _ in range(int(input())):
	print(bool(re.match(r'^[-+]?[0-9]*\.[0-9]+$', input())))

1
124o5
False

In [0]:
#from re import match, compile
import re
patt = compile('^[-+]?[0-9]*\.[0-9]+$')
for _ in range(int(input())):
    print(bool(patt.match(input())))

2
123.02
True
123.0
True

#^ says start of the expression.

[-+]? says it can start with either - or +.

[0-9] says any number from 0-9 can be followed after it.

* says that whichever thing it follows[in this case it is[0-9]], it can repeat arbitrarily times, even 0 times.

'.' is placeholder for any character.(for the answer it should be '\.' instead of '.' ; '\' is escape character. Because of this you can literally mean a dot in expression).

again[0-9] as explained earlier.

'+' says that whichever thing it follows[in this case it is[0-9]], it can repeat arbitrarily times, but atleast one time.

$ follows whichever thing it should come in the end

In [0]:
import re
for _ in range(int(input())):
    print(bool(re.match("^[\+-]?\d*\.\d+$", input()))) # slight change

# sol

Number can start with +, - or . symbol:
[\+-]?\d*\.
Number must contain at least 1 decimal value:
\.\d+$
Number must have exactly one . symbol.
\.
My solution:

# List Operations from command line:

In [0]:
if __name__ == '__main__':
    N = int(input())
    result = []
    for n in range(N):
        x = input().split(" ")
        command = x[0]
        if command == 'append':
            result.append(int(x[1]))
        if command == 'print':
            print(result)
        if command == 'insert':
            result.insert(int(x[1]), int(x[2])) # (index , element)
        if command == 'reverse':
            result.reverse()
        if command == 'pop':
            result.pop() #removes the last element in the list
        if command == 'sort':
            result.sort()
        if command == 'remove':
            result.remove(int(x[1])) #(elemnt name if it exists gets removed else valueError)

12
insert 0 5
[5]
insert 1 10
[5, 10]
insert 0 6
[6, 5, 10]
print
[6, 5, 10]
[6, 5, 10]
print
[6, 5, 10]
[6, 5, 10]
print
[6, 5, 10]
[6, 5, 10]
print
[6, 5, 10]
[6, 5, 10]
print
[6, 5, 10]
[6, 5, 10]

[6, 5, 10]

[6, 5, 10]
print
[6, 5, 10]
[6, 5, 10]
print
[6, 5, 10]
[6, 5, 10]

In [0]:
N = int(input())
result = []
for n in range(N):
    x = input().split(" ")

3
insert 4 5
insert 4 5
insert 4 5

In [0]:
result=[]
result.insert(int(x[1]),int(x[2]))

In [0]:
result.insert(10,12)
result

[5, 12]

In [0]:
# python list extend() command
list_1 = ['abc' , 'efg','cat']
tuple_1 =('get','set','mat')
set_1={'set2','set3'}
print('list_1 before extending:' , list_1)
list_1.extend(tuple_1)
print('list_1 after extending with a tuple:' , list_1)
list_1.extend(set_1)
print('list_1 after extending with a set:' , list_1)

list_1 before extending: ['abc', 'efg', 'cat']
list_1 after extending with a tuple: ['abc', 'efg', 'cat', 'get', 'set', 'mat']
list_1 after extending with a set: ['abc', 'efg', 'cat', 'get', 'set', 'mat', 'set2', 'set3']

# Problem
Given a integer  , n , and n space-separated integers as input , create a tuple t , of these n integers. Then Compute the Hash table of these numbers

In [0]:
# read the user input
user_input = int(input())

2

In [0]:
# read in the user data for the tuple
user_data = input().split()

2 3

In [0]:
user_data

['2', '3']

In [0]:
# convert string to integer
user_data = map(int , user_data)

In [0]:
user_data =tuple(user_data)

In [0]:
user_data

(2, 3)

In [0]:
#Converting ['1','2','3','4'] ---> [1,2,3,4] (string ---> int)
# method 1 :
my_list = ['1','2','3','4']
my_list1= map(int, my_list)

In [0]:
my_list1

In [0]:
# convert it back to list
print(list(my_list1))

[1, 2, 3, 4]

In [0]:
# option two
new_list =['1','2','5','9']
for i in range(len(new_list)):
  new_list[i]= int(new_list[i])

In [0]:
new_list

[1, 2, 5, 9]

In [0]:
#Converting a list of String to integers using the list comprehension
list_comp = ['1','2','3','4']
list_comp =[int(x) for x in list_comp]

In [0]:
list_comp

[1, 2, 3, 4]

In [0]:
#convert to tuple
tuple_comp = tuple(list_comp)

In [0]:
print(hash(tuple_comp))

485696759010151909

# Problem

You are given a string and your task is to swap cases. In other words, convert all lowercase letters to uppercase letters and vice versa.

In [0]:
input_data = input()

hi this The Best The ThIng

In [0]:
print(''.join([x.lower() if x.isupper() else x.upper() for x in input_data]))

HI THIS tHE bEST tHE tHiNG

In [0]:
print(''.join([x.upper() if x.islower() else x.lower() for x in input_data]))

HI THIS tHE bEST tHE tHiNG

In [0]:
# method 2
print(''.join(map(str.swapcase , input_data)))

HI THIS tHE bEST tHE tHiNG

#Problem
split and join string

In [0]:
a = 'this is a string'
a=a.split(' ')
print(a)
#join by -
a = '-'.join(a)
print(a)

['this', 'is', 'a', 'string']
this-is-a-string

# Problem
You are given the firstname and lastname of a person on two different lines. Your task is to read them and print the following:

Hello firstname lastname! You just delved into python.

In [0]:
data_input = str(input())

ross taylor

In [0]:
name = data_input.split(' ')

In [0]:
name

['ross', 'taylor']

In [0]:
first_name = name[0]
last_name = name[1]

In [0]:
print('Hello {} {}! You just delved into python.' .format(first_name , last_name))

Hello ross taylor! You just delved into python.

#Problem
We have seen that lists are mutable (they can be changed), and tuples are immutable (they cannot be changed).

Let's try to understand this with an example.

You are given an immutable string, and you want to make changes to it.

In [0]:
string_1 = "abcdefgh"
print(string_1)

abcdefgh

In [0]:
string_1[0]

'a'

In [0]:
#however if I try to change the character then I get an error
string_1[0]='s'

TypeError: ignored

In [0]:
# to change the string I need to convert it to list and convert it back to string using join function
list_1 = list(string_1)

In [0]:
list_1[0]='A'
print(list_1)

['A', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [0]:
# convert it to string
str_1 = ''.join(list_1.split(' '))

In [0]:
print(str_1)

Abcdefgh

# Problem
In this challenge, the user enters a string and a substring. You have to print the number of times that the substring occurs in the given string. String traversal will take place from left to right, not from right to left

In [0]:
string , sub_string = (input().strip() , input().strip())

abcabcefg
abc

In [0]:
l= (sum([1 for i in range(len(string)-len(sub_string)+1) if string[i:i+len(sub_string)]==sub_string]))

In [0]:
print(l)

2

In [0]:
len([i for i in range(len(string)) if string[i:i+len(sub_string)] == sub_string])

2

In [0]:
#alternate way to solve
counter=0
i=0
while i<len(string):
    if string.find(sub_string,i)>=0:
        i=string.find(sub_string,i)+1
        counter+=1
    else: break
print(counter)

2

In [0]:
def count_substring(string, sub_string):
    return (sum([1 for i in range(0, len(string) - len(sub_string) + 1) if (string[i:(len(sub_string)+i)] == sub_string)]))

In [0]:
if __name__ == '__main__':
    string = input().strip()
    sub_string = input().strip()
    
    count = count_substring(string, sub_string)
    print(count)

abcabcefg
abc
2

# Problem
Python has built-in string validation methods for basic data. It can check if a string is composed of alphabetical characters, alphanumeric characters, digits, etc.

In [0]:
if __name__ == '__main__':
    t = type(s)
    for method in [t.isalnum, t.isalpha, t.isdigit, t.islower, t.isupper]:
                    print (any(method(c) for c in s))

True
True
True
True
True

# Problem
Given an integer, , print the following values for each integer  from  to :

Decimal
Octal
Hexadecimal (capitalized)
Binary

In [0]:
n = int(input())
width = len("{0:b}".format(n))
print('decimal:{width}' .format("decimal",width=width))
for i in range(1,n+1):
  print ("{0:{width}d} {0:{width}o} {0:{width}X} {0:{width}b}".format(i, width=width))  #check  https://pyformat.info/  for more details...

2
decimal:2
 1  1  1  1
 2  2  2 10

# Defaultdict

In [0]:
from collections import defaultdict # imported the libraries
d = defaultdict(list)  # created a default dict of type list
list1=[] # empty list

n, m = map(int,input().split()) # get the imput

# append the entries to the default dict

for i in range(0,n):
    d[input()].append(i+1)
    
# append to the list    

for i in range(0,m):
    list1=list1+[input()]  

# print the element which comes in the list from the 
# dictionary

    
for i in list1: 
    if i in d:
        print (" ".join( map(str,d[i])))
    else:
        print(-1)

5 2
a

a
a
a
a
s
1 3 4 5
-1

In [0]:
from collections import defaultdict

s = 'mississippi'
d = defaultdict(int)
for k in s:
   d[k] += 1
   
  
d.items()

dict_items([('m', 1), ('i', 4), ('s', 4), ('p', 2)])

In [0]:
#somedict = {}
#print(somedict[3]) # KeyError

someddict = defaultdict(int) # However in defaultdict will create the key and the associated value with it and if I donot specify any value it
# it would assign 0 to it.
print(someddict[3])

0

In [0]:
print(someddict)

defaultdict(<class 'int'>, {3: 0})

# A defaultDict is an extension of the normal dictionary
here the difference  from the normal dictionary is that if we donot have a key in the dictionary then the moment I call that dictionary<key> a new entry is created for the key and assigned a value of '0' for the key.

In [0]:
from collections import defaultdict

In [0]:
defdict = defaultdict(int)
phrase = 'missioanry'
for char in phrase:
  defdict[char]+=1
print(defdict.items())

dict_items([('m', 1), ('i', 2), ('s', 2), ('o', 1), ('a', 1), ('n', 1), ('r', 1), ('y', 1)])

In [0]:
defdict['k']

0

In [0]:
defdict.items()

dict_items([('m', 1), ('i', 2), ('s', 2), ('o', 1), ('a', 1), ('n', 1), ('r', 1), ('y', 1), ('k', 0)])

In [0]:
defdict['k']=5

In [0]:
defdict

defaultdict(int,
            {'a': 1,
             'i': 2,
             'k': 5,
             'm': 1,
             'n': 1,
             'o': 1,
             'r': 1,
             's': 2,
             'y': 1})

In [0]:
for i , v in sorted(list(defdict.items())):
  print(i , v )

a 1
i 2
k 5
m 1
n 1
o 1
r 1
s 2
y 1

In [0]:
thickness = int(input()) #This must be an odd number
c = 'H'

#Top Cone
for i in range(thickness):
    print((c*i).rjust(thickness-1)+c+(c*i).ljust(thickness-1))

#Top Pillars
for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))

#Middle Belt
for i in range((thickness+1)//2):
    print((c*thickness*5).center(thickness*6))    

#Bottom Pillars
for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))    

#Bottom Cone
for i in range(thickness):
    print(((c*(thickness-i-1)).rjust(thickness)+c+(c*(thickness-i-1)).ljust(thickness)).rjust(thickness*6))

5
    H
   HHH
  HHHHH
 HHHHHHH
HHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
                    HHHHHHHHH
                     HHHHHHH
                      HHHHH
                       HHH
                        H

In [0]:
n, m = map(int,input().split())
pattern = [('.|.'*(2*i + 1)).center(m, '-') for i in range(n//2)]
print('\n'.join(pattern + ['WELCOME'.center(m, '-')] + pattern[::-1]))

10 15
------.|.------
---.|..|..|.---
.|..|..|..|..|.
.|..|..|..|..|..|..|.
.|..|..|..|..|..|..|..|..|.
----WELCOME----
.|..|..|..|..|..|..|..|..|.
.|..|..|..|..|..|..|.
.|..|..|..|..|.
---.|..|..|.---
------.|.------

In [0]:
def print_rangoli(size):
    import string
    alpha = string.ascii_lowercase

    
    L = []
    for i in range(n):
        s = "-".join(alpha[i:n])
        L.append((s[::-1]+s[1:]).center(4*n-3, "-"))
    print('\n'.join(L[:0:-1]+L))

In [0]:
if __name__=='__main__':
  n =int(input())
  print_rangoli(n)

5
--------e--------
------e-d-e------
----e-d-c-d-e----
--e-d-c-b-c-d-e--
e-d-c-b-a-b-c-d-e
--e-d-c-b-c-d-e--
----e-d-c-d-e----
------e-d-e------
--------e--------

# You are asked to ensure that the first and last names of people begin with a capital letter in their passports. For example, alison heck should be capitalised correctly as Alison Heck.


Given a full name, your task is to capitalize the name appropriately.

In [0]:
a_string = input().split(' ')
print(' '.join(word.capitalize() for word in a_string))

anirban ghosh
Anirban Ghosh

In [0]:
# Capitalize the first letter using functions
def cap_first_letter_name(name):
  # create a list [a,b,c] from the string using .split()
  name_string = name.split(' ')
  # create a placeholer 
  capitalize_name =[ ]
  for word in name_string:
    capitalize_name.append(word.capitalize())
  return capitalize_name

# call the function
persons_name = "alison heck"
capitalize_name = cap_first_letter_name(persons_name)
print(capitalize_name)
cap_name= ' '.join(capitalize_name)
print(cap_name)

['Alison', 'Heck']
Alison Heck

In [0]:
# a variation by using upper() instead of capitalize()
input = "they're bill's friends from the UK"
words = input.split(' ')
capitalized_words = []
for word in words:
    title_case_word = word[0].upper() + word[1:]
    capitalized_words.append(title_case_word)
output = ' '.join(capitalized_words)
print('output' , output)
print('capitalized_words', capitalized_words)

output They're Bill's Friends From The UK
capitalized_words ["They're", "Bill's", 'Friends', 'From', 'The', 'UK']

In [0]:
for word in name:
  word.capitalize()
print(name)

['Alison', 'heck']

# Making alternate case upper and lower

In [0]:
test = "AltERNating WoRd"

def to_alternating_case(string):
    result = ''
    for word in string:
        print(word)
        if word.isupper():
            result += word.lower()
        else:
            result += word.upper()
    return result

print(to_alternating_case(test))
result = to_alternating_case(test)
print('final',''.join(result))

A
l
t
E
R
N
a
t
i
n
g

W
o
R
d
aLTernATING wOrD
A
l
t
E
R
N
a
t
i
n
g

W
o
R
d
final aLTernATING wOrD

In [0]:
# list comprehension to upper and lower case
def to_alternating_case(string):
    result =[word.lower() if word.isupper() else word.upper() for word in string]
    return ''.join(result)

In [0]:
print(to_alternating_case(test))

aLTernATING wOrD

In [0]:
#using map function
def to_alternating_case(string):
    result = map(lambda word:word.lower() if word.isupper() else word.upper(), string)
    return ''.join(result)

In [0]:
test_case = "This is A PyThon CoDe"
print(to_alternating_case(test_case))

tHIS IS a pYtHON cOdE

In [0]:
input = "they're bill's friends from the UK"
words = input.split(' ')
capitalized_words = []
for word in words:
    title_case_word = word[0].upper() + word[1:]
    capitalized_words.append(title_case_word)
output = ' '.join(capitalized_words)
print(output)

They're Bill's Friends From The UK

In [0]:
# Do a camelcasing of the python code based on the fact that the first letter is always small while the rest are small-->upper and vice-versa
test_case = "This is A PyThon CoDe"
words = test_case.split(' ')
final_sentence = []
for word in words:
  camelcase=word[0].lower()
  for letter in range(len(word[1:])):
    if word[letter].isupper():
      word[letter].lower()
    else:
      word[letter].upper()
  camelcased_word = camelcase+word[1:]
  final_sentence.append(camelcased_word)
print(camelcased_word)  
print(final_sentence)
print(' '.join(final_sentence))

coDe
['this', 'is', 'a', 'pyThon', 'coDe']
this is a pyThon coDe