[View in Colaboratory](https://colab.research.google.com/github/anirbanghoshsbi/python-projects/blob/master/python_tricks.ipynb)

In [1]:
#Swapping values
a , b =5,10
b,a=a,b
print(a,b)

10 5

In [2]:
# convert a list to a string

a = ['cat','mat','ram']
combined= ''.join(a)
print(combined)

catmatram

In [7]:
# some other cool ways to join a list as string
a = [1,2,3,'japan']
combined ='-'.join(str(a).strip(','))
print(combined)

[-1-,- -2-,- -3-,- -'-j-a-p-a-n-'-]

In [9]:
# find the most frequent element in the list
a = [1,2,1,2,3,2,1,2,21,2,3,2,2,2,3,2,5]
print(max(set(a),key=a.count))

2

In [29]:
#find the most common using Counters
from collections import Counter
a = [1,2,1,2,3,2,1,2,21,2,3,2,2,2,3,2,5]
cnt = Counter(a)
print(cnt.most_common(3))
print('The count of the number occuring : ' , cnt.most_common()[3][0])

[(2, 9), (1, 3), (3, 3)]
The count of the number occuring :  21

In [44]:
# Check if two numbers are anagram : when two strings have exactly the same no. letters but in arranged in a different way
from collections import Counter
string1 = 'This is a day'
string2 ='A day is this'

if Counter(string1.lower())==Counter(string2.lower()):
         print("These are anagrams")

These are anagrams

In [48]:
#reversing a string in python
str1= 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
print('reversed mtd 1',str1[::-1])
# method 2
for character in reversed(str1):
  print(character,end='')

reversed mtd 1 ZYXWVUTSRQPONMLKJIHGFEDCBA
ZYXWVUTSRQPONMLKJIHGFEDCBA

In [49]:
#printing a string by type conversion and slices

num =123456789
print(str(num)[::-1])

987654321

In [50]:
# reverse a list
lst = [1,2,3,4,5]
print(lst[::-1])

[5, 4, 3, 2, 1]

In [57]:
# using iterations
for element in reversed(lst):
  print( element , end= " ")

5 4 3 2 1

In [58]:
#using iterations and storing the elements in a list
lst1=[]
for element in reversed(lst):
  lst1.append(element)
print(lst1)

[5, 4, 3, 2, 1]

In [60]:
# transpose a Matrix
original = [[1,2,],[3,5],[3,4]]
transposed = zip(*original)
print(list(transposed))

[(1, 3, 3), (2, 5, 4)]

In [0]:
#ignore blanklines from a file
with open(filename) as f_in:
    lines = (line.rstrip() for line in f_in) # All lines including the blank ones
    lines = (line for line in lines if line) # Non-blank lines

In [0]:
#alternate of doing the same -- ignore the blank lines
def nonblank_lines(f):
    for l in f:
        line = l.rstrip()
        if line:
            yield line
            
with open(filename) as f_in:
    for line in nonblank_lines(f_in):
        # Stuff

In [0]:
# ignore blanklines by using filter...
with open(filename) as f_in:
    lines = filter(None, (line.rstrip() for line in f_in))

In [0]:
#largest number that can be formed from a given number
def max_no(n):
  return int('' .join(sorted(str(n),reverse=True)))

In [65]:
n=1527815754
print(max_no(n))

8775554211

In [0]:
import pandas as pd

In [0]:
# convert an dictionary to pandas dataframe
sales = [{'account': 'Jones LLC', 'Jan': 150, 'Feb': 200, 'Mar': 140},
         {'account': 'Alpha Co',  'Jan': 200, 'Feb': 210, 'Mar': 215},
         {'account': 'Blue Inc',  'Jan': 50,  'Feb': 90,  'Mar': 95 }]
# The above is a dictionary having sales figure for the month of Jan , Feb and Mar

dataframe = pd.DataFrame(sales)

In [3]:
dataframe

   Feb  Jan  Mar    account
0  200  150  140  Jones LLC
1  210  200  215   Alpha Co
2   90   50   95   Blue Inc

In [0]:
# As I can see the keys are repeated in the various dictionary entry
sales = {'account': ['Jones LLC', 'Alpha Co', 'Blue Inc'],
         'Jan': [150, 200, 50],
         'Feb': [200, 210, 90],
         'Mar': [140, 215, 95]} # here I clubbed the account key with all values in one \
#place and same with 'Jan','Feb','Mar'
dataframe = pd.DataFrame.from_dict(sales)
dataframe1 = pd.DataFrame(sales)

In [7]:
dataframe1

   Feb  Jan  Mar    account
0  200  150  140  Jones LLC
1  210  200  215   Alpha Co
2   90   50   95   Blue Inc

In [0]:
# Creating Pandas DataFrame from Lists
sales = [('Jones LLC', 150, 200, 50),
         ('Alpha Co', 200, 210, 90),
         ('Blue Inc', 140, 215, 95)] # a list of tuples
labels = ['account', 'Jan', 'Feb', 'Mar']

In [0]:
dataframe_list = pd.DataFrame(sales , columns = labels)

In [11]:
dataframe_list

     account  Jan  Feb  Mar
0  Jones LLC  150  200   50
1   Alpha Co  200  210   90
2   Blue Inc  140  215   95

In [0]:
# Difference between the list based and the dictionary based dataframe creation
# in list based creation the explicit ordering of the dataframe columns can be maintained,
# which is not the case for a dictionary based creation

In [0]:
# Getting the null values in a pandas dataframe
Temperature = [('Delhi',25,28,30,32,),('kolkata',28,30,32,35),('Mumbai',28,29,25),('Chennai',28,30,32)]
labels = ['City','Jan','Feb','Mar','Apr']

In [0]:
city_temperature = pd.DataFrame(Temperature , columns= labels)

In [24]:
city_temperature

      City  Jan  Feb  Mar   Apr
0    Delhi   25   28   30  32.0
1  kolkata   28   30   32  35.0
2   Mumbai   28   29   25   NaN
3  Chennai   28   30   32   NaN

In [25]:
city_temperature.isnull().sum(axis=0) # column missing values

City    0
Jan     0
Feb     0
Mar     0
Apr     2
dtype: int64

In [28]:
city_temperature.isnull().sum(axis=1) # along the row

0    0
1    0
2    1
3    1
dtype: int64

In [0]:
# Zipping and unzipping data in python
data = [(1,2,3),('a','v','d')]
zipped = zip(*data)

In [31]:
print(zipped)

<zip object at 0x7efcc8dde988>

In [34]:
# In python I can use the print + join to make a string
row = [1, 'happy','go','lucky']
sent =','.join(str(x) for x in row)
print(sent)

1,happy,go,lucky

In [35]:
# In python I can also do the same using the print function
print(*row , sep=',')

1,happy,go,lucky

In [0]:
# check if string contains only unique characters
def check_if_unique(str):
    return len(set(str))== len(str)

# method 2
def check_if_unique1(str):
    unique_str =''
    for char in str:
      if char in unique_str:
          return False
      else:
          unique_str +=char
    return True

In [46]:
string = 'Amirban'
check_if_unique(string)

True

In [47]:
check_if_unique1(string)

True

In [0]:
# Check if two strings are anagram
# a anagram are two strings having exactly the same number of letters
# example : pass , ssap

def check_letters(str1):
  counter = {} # dict
  for s in str1:
    if s in counter:
      counter[s] +=1
    else :
      counter[s]=1
  return counter 
  
def check_anagram(str1,str2):
    str1 =str1.lower().replace(' ','')
    str2 =str2.lower().replace(' ','')
    counter1 = check_letters(str1)
    print(counter1)
    
    counter2 = check_letters(str2)
    print(counter2)
    for letter in counter1:
      if letter in counter2:
        if counter1[letter] != counter2[letter] :
            return False
      else:
          return False
    return True

In [62]:
string1 = 'pass'
string2= 'pass'
check_anagram(string1,string2)

{'p': 1, 'a': 1, 's': 2}
{'p': 1, 'a': 1, 's': 2}

True

In [63]:
string1 = 'google'
print(sorted(string1))

['e', 'g', 'g', 'l', 'o', 'o']

In [0]:
# Counters in python
# A counter is a container that stores the element as dictionary key and their counts as values
from collections import Counter
my_list = [1,2,1,2,3,2,3,2,4,2,42,1,5,2,3,1]

In [0]:
cnt = Counter(my_list)

In [3]:
print(cnt)

Counter({2: 6, 1: 4, 3: 3, 4: 1, 42: 1, 5: 1})

In [0]:
#type Dictionary having format { element : count} where the element is the key and the count its value

In [5]:
# I can use the same commands that I use for dictionary
cnt.items()

dict_items([(1, 4), (2, 6), (3, 3), (4, 1), (42, 1), (5, 1)])

In [6]:
cnt.keys() # elemnts in the list

dict_keys([1, 2, 3, 4, 42, 5])

In [7]:
cnt.values() # gives the count of the elements

dict_values([4, 6, 3, 1, 1, 1])

In [12]:
line = input().split()

5 6 7 8 9 10 12

In [13]:
line

['5', '6', '7', '8', '9', '10', '12']

In [0]:
line_int = list(map(int , line))

In [22]:
line_int

[5, 6, 7, 8, 9, 10, 12]

In [23]:
print(sum(line_int))

57

# Problem
Get the number of customers and their purchases
use counter

In [48]:
from collections import Counter
numShoes = int(input())

10

In [49]:
shoes = Counter(map(int, input().split()))
numCust = int(input())

10 2 1 2 5 5 1 10 5 4 2 1 10 7
5

In [50]:
shoes

Counter({1: 3, 2: 3, 4: 1, 5: 3, 7: 1, 10: 3})

In [57]:
income = 0

for i in range(numCust):
    size, price = map(int, input().split())
    if shoes[size]: 
        print('shoes[size]' , shoes[size])
        income += price
        #shoes[size] -= 1
        print('income',income)
        print('Shoe of size decremented' , shoes[size])

print(income)

10  3
7  1
1  3
shoes[size] 2
income 3
Shoe of size decremented 2
2  3
2  3
3

In [65]:
numCust=15
income = 0
my_list =[1,2,1,1,2,1,2,3,1,5,4,5,1,5,3,4,]
shoes = Counter(my_list)
print(shoes)
for i in range(numCust):
    size, price = map(int, input().split())
    if shoes[size]: 
        print('shoes[size]' , shoes[size])
        income += price
        shoes[size] -= 1
        print('price',price)
        print('income',income)
        print('Shoe of size decremented' , shoes[size])

print(income)

Counter({1: 6, 2: 3, 5: 3, 3: 2, 4: 2})
4 2
shoes[size] 2
price 2
income 2
Shoe of size decremented 1
1 6
shoes[size] 6
price 6
income 8
Shoe of size decremented 5
3 2
shoes[size] 2
price 2
income 10
Shoe of size decremented 1
3 5
shoes[size] 1
price 5
income 15
Shoe of size decremented 0
4 2
shoes[size] 1
price 2
income 17
Shoe of size decremented 0
18 5
19 5
2 1
shoes[size] 3
price 1
income 18
Shoe of size decremented 2
2 3
shoes[size] 2
price 3
income 21
Shoe of size decremented 1
2 3
shoes[size] 1
price 3
income 24
Shoe of size decremented 0
3 2
7 5
7 5
7 5
7 5
24